@import "reset";



body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  grid-template-rows: 75px 1fr 75px;

  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    &:first-child, &:last-child {
      grid-column: span 3;
    }
    &:nth-child(2) span {
      transform: rotateZ(-90deg);
    }
    &:nth-child(4) span {
      transform: rotateZ(90deg);
    }
  }
  .main {
    border: 2px solid black;
    overflow-y: scroll;
    box-sizing: border-box;
    padding:0px 30px 30px 30px;
    .main__nav ul{
      display: grid;
      .main__nav-item {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        border-bottom: 2px solid black;
      }
    }
  }

  .filter {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    .filter__types {
      display: flex;
      gap: 10px;
      color: gray;
    }
    .filter__name--selected {
      color: black;
    }
  }
  .projects {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    .project {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 600;
      .project__img {
        width: 100%;
      }
    }
  }
}