@import "reset";

body {
  background: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header {
  overflow-x: scroll;
  .header__list {
    display: flex;
    gap: 10px;
    color: white;
    width: max-content;
    .header__list-item {
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding: 10px;
      border-radius: 20px;
    }
    .header__list-item--inverted {
      color: black;
      background-color: white;
    }
  }
}

.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .cards__card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    .card__title {
      font-size: 28px;
    }
    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        background-color: rgb(255,221, 44);
      }
      .length {
        background-color: white;
      }
    }
    &:first-child {
      background-color: #292D33;
      border: 1px solid white;
      .card__title {
        color: white;
      }
    }
    &:nth-child(2) {
      background-color: #f5f4ef;
    }
    &:nth-child(3) {
      background-color: #F8Fcb5;
    }
    &:nth-child(4) {
      background-color: #b19ff6;
    }
    &:nth-child(5) {
      background-color: #fed3d3;
    }
    &:nth-child(6) {
      background-color: #d0fedf;
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}