body {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Opne Sans", "Helvetica Neue", sans-serif;

}
li {
  list-style: none;
}

.phone {
  //width: 100vw;
  //height: 100vh;
  padding: 10px;

  .header {
    .header__list {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      .header__list-item {
        padding: 10px;
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        background-color: black;
        white-space: nowrap;
        &.on {
          background-color: white;
          color: black;
        }
      }
    }
  }
  .cards {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    .cards__card {
      padding: 25px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      &:nth-child(3n) {
        grid-column: span 2;
      }
      &:nth-child(1) {
        background-color: #2A2D33;
        color: white;
      }
      &:nth-child(2) {
        background-color: #F6F4F0;
        .price {
          background-color: #DAC647;
        }
      }
      &:nth-child(3) {
        background-color: #FAFEC7;
        .price {
          background-color: #CFA8D1;
        }
      }
      &:nth-child(4) {
        background-color: #B3A1F6;
        .price {
          background-color: #DAC647;
        }
      }
      &:nth-child(5) {
        background-color: #FED3D3;
        .price {
          background-color: #CFA8D1;
        }
      }
      &:nth-child(6) {
        background-color: #D2FEDE;
        .price {
          background-color: #DAC647;
        }
      }
      .card__title {

      }
      .card__footer {
        display: flex;
        justify-content: space-between;
        .price {
          border: 1px solid black;
          border-radius: 25px;
          padding: 10px;
        }
        .length {
          padding: 10px;
          border: 1px solid black;
          border-radius: 25px;
          background-color: white;
        }
      }
    }
  }
}
